#
IMU_Hover/*
*.asv
*.csv
*.mat
!IMU_Hover/putty_test1
!IMU_Hover/putty_test2
!IMU_Hover/putty_test3
!IMU_Hover/putty_test4
!IMU_Hover/putty_test5
!IMU_Hover/putty_test6
!IMU_Hover/putty_test7
!IMU_Hover/putty_test8
!IMU_Hover/putty_test9
!IMU_Hover/putty_test10
!IMU_Hover/putty_test11
!IMU_Hover/putty_test12